{{>header}}
{{> navbar}}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">
        {{#if user.inscripcion}}
        <i class="bi bi-check-circle"></i>
        {{/if}}
        <div class=" image d-flex flex-column justify-content-center align-items-center"> <button
                class="btn btn-secondary btnprofile"> <img src="https://i.imgur.com/wvxPV9S.png" height="100"
                    width="100" /></button> <span class="name mt-3">{{user.nombre}}</span> <span
                class="idd">@{{user.username}}</span>

            <div style="display: none;"> <input id="uid" type="hidden" value="{{user.uid}}"> </div>

            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">1069 <span
                        class="follow">Followers</span></span> </div>
            <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div>
            <div class="text mt-3"> <span>Eleanor Pena is a creator of minimalistic x bold graphics and digital
                    artwork.<br><br> Artist/ Creative Director by Day #NFT minting@ with FND night. </span> </div>
            <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                        class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                        class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
            <div class=" px-2 rounded mt-4 date "> <span class="join">Joined May,2021</span> </div>
        </div>
    </div>
</div>
{{#if loged}}
{{#if admin}}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4 register" id="register" data-value="0">
        <div class=" d-flex  justify-content-center align-items-center mt-2" id="anidado"> <button
                onclick="appendRegister()" class="btn1 btn-dark">Pago</button> </div>
    </div>
</div>
{{/if}}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
</svg>
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">

        <div class="accordion accordion-flush" id="accordionFlushExample">
            {{#each user.historial}}
            {{#this}}
            <div class="accordion-item">

                <h2 class="accordion-header" id="flush-heading{{@index}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse{{@index}}" aria-expanded="false"
                        aria-controls="flush-collapse{{@index}}">
                        <div class="alert alert-primary d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                                <use xlink:href="#info-fill" />
                            </svg>
                            <div>
                                <span class="join">{{initdate}} </span>
                            </div>
                        </div>
                    </button>

                </h2>
                <div id="flush-collapse{{@index}}" class="accordion-collapse collapse"
                    aria-labelledby="flush-heading{{@index}}" data-bs-parent="#accordionFlushExample">
                    <h3>Válido hasta: <span class="badge bg-success">{{findate}}</span></h3>
                    <h3>Abonado: <span class="badge bg-warning text-dark">${{monto}}</span></h3>
                </div>

            </div>
            {{/this}}
            {{/each}}
        </div>

    </div>
</div>




{{else}}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
    <div class="card p-4">

        {{#each user.historial}}
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        {{user.historial.[0]}}
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                        the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>


{{/if}}
{{> packages}}
<script src="/javascripts/register.js"></script>
{{>footer}}