{{> header}}
<style>
    .editar {
        cursor: pointer;
    }

    .ocultar {
        display: none;

    }

    .toast {
        left: 50%;
        position: fixed;
        transform: translate(-50%, 100px);
        z-index: 9999;
    }
</style>

{{> navbar}}

<input hidden id="emailp" value="{{usuario.email}}">
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">

    <!-- Then put toasts within -->
    <div class="toast uno" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">

            <strong class="me-auto">Actualizando</strong>
            <small>Justo ahora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Has actualizado tu perfil.
        </div>
    </div>
</div>
<div class="container" style="max-width: 800px;">

    <h1 class="h3 mb-3 font-weight-normal">Mi Perfil</h1>

    <div class="form-group row ">
        <label for="inputName" class="col-sm-3 col-form-label">Nombre Completo: </label>
        <div class="col-sm-9">
            <div class="input-group mb-3">
                <input type="text" autocomplete="off" name="nombre" id="inputName" onkeydown="return alphaOnly(event);"
                    readonly class="form-control" placeholder="Nombre Completo" required="" autofocus=""
                    value="{{usuario.nombre}}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="inputNameC" type="button"
                        onclick="editar('inputName')">Editar</button>
                </div>
                <div class="input-group-append ocultar" id="inputNameOK">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="addchange('inputName','nombre')">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputUserame" class="col-sm-3 col-form-label">Nombre de Usuario:</label>
        <div class="col-sm-9">
            <div class="input-group mb-3">
                <input type="text" autocomplete="off" name="username" id="inputUserame"
                    onkeydown="return alphanumericOnly(event);" readonly class="form-control"
                    placeholder="Nombre de Usuario" required="" autofocus="" value="{{usuario.username}}">
                <div class="input-group-append" id="inputUserameC">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="editar('inputUserame')">Editar</button>
                </div>
                <div class="input-group-append ocultar" id="inputUserameOK">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="addchange('inputUserame','username')">OK</button>

                </div>
            </div>

        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail" class="col-sm-3 col-form-label">Email: </label>
        <div class="col-sm-9">
            <div class="input-group mb-3">
                <input type="email" autocomplete="off" name="email" onpaste="getPastedValue(this)" id="inputEmail"
                    readonly class="form-control" placeholder="Email" required=""
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="{{usuario.email}}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="inputEmailC"
                        onclick="editar('inputEmail')">Editar</button>
                </div>
                <div class="input-group-append ocultar" id="inputEmailOK">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="addchange('inputEmail','email')">OK</button>

                </div>
            </div>
            <small class="form-text text-muted text-left" id="emailver"></small>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEdad" class="col-sm-3 col-form-label">Edad:</label>
        <div class="col-sm-9">
            <div class="input-group mb-3">
                <input type="number" autocomplete="off" name="edad" onpaste="getPastedValue(this)" id="inputEdad"
                    readonly class="form-control" placeholder="Edad" required=""
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="{{usuario.edad}}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="inputEdadC"
                        onclick="editar('inputEdad')">Editar</button>
                </div>
                <div class="input-group-append ocultar" id="inputEdadOK">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="addchange('inputEdad','edad')">OK</button>

                </div>


            </div>
        </div>
    </div>

    <div class="form-group row ">
        <label for="inputCell" class="col-sm-3 col-form-label">Número Celular</label>
        <div class="col-sm-9">
            <div class="input-group mb-3">
                <input type="text" autocomplete="off" name="cell" id="inputCell"
                    onkeydown="return alphanumericOnly(event);" readonly class="form-control"
                    placeholder="Número Celular Ej: 0981234567" required="" autofocus="" value="{{usuario.cell}}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="inputCellC" type="button"
                        onclick="editar('inputCell')">Editar</button>
                </div>
                <div class="input-group-append ocultar" id="inputCellOK">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="addchange('inputCell','cell')">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row ">
        <label for="inputPos" class="col-sm-3 col-form-label">Posición </label>
        <div class="col-sm-9">
            <div class="input-group mb-3">

                <select class="form-control register" id="inputPos" name="posicion" disabled>
                    <option selected="true" disabled="disabled"> Seleccione una posición</option>
                    <option value="Colocador">Colocador</option>
                    <option value="Servidor">Servidor</option>
                    <option value="Volador">Volador</option>
                </select>

                <div class="input-group-append" id="inputPosC">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="editarselect('inputPos')">Editar</button>
                </div>
                <div class="input-group-append ocultar" id="inputPosOK">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="addchange('inputPos','posicion')">OK</button>

                </div>

            </div>
        </div>
    </div>
    <div class="form-group row ">
        <label for="inputHor" class="col-sm-3 col-form-label">Horario</label>
        <div class="col-sm-9">
            <div class="input-group mb-3">

                <select class="form-control register" id="inputHor" name="horario" disabled>
                    <option selected="true" disabled="disabled"> Seleccione una posición</option>
                    <option value="Mañana">Mañana</option>
                    <option value="Tarde">Tarde</option>
                    <option value="Fin de Semana">Fin de Semana</option>
                    <option value="Ejecutivo">Ejecutivo</option>
                </select>

                <div class="input-group-append" id="inputHorC">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="editarselect('inputHor')">Editar</button>
                </div>
                <div class="input-group-append ocultar" id="inputHorOK">
                    <button class="btn btn-outline-secondary" type="button"
                        onclick="addchange('inputHor','horario')">OK</button>
                </div>

            </div>
        </div>
    </div>


    <div class="form-group row ">

        <label for="" class="d-flex justify-content-center col-sm-3 col-form-label">Seleccione un Avatar </label>
        <div class="d-flex justify-content-center col" id='check'>


            <div class="input-group-append" id="checkC">
                <button class="btn btn-outline-secondary" type="button"
                    onclick="editarcheck('check1','check2','check')">Editar</button>
            </div>
            <div class="ocultar   input-group-append " id="checkOK">
                <button class="btn btn-outline-secondary " type="button" onclick="sendgender()">OK</button>
            </div>
        </div>


    </div>
    <div class="form-group row ">


        <div class="col">
            <div class="d-flex justify-content-center custom-control custom-radio image-checkbox">

                <input type="radio" class="custom-control-input" id="check1" name="gender" value="men" disabled>
                <label class="custom-control-label" for="check1">
                    <img src="/assets/images/men.png" width="75px" height="75px" alt="#" class="img-fluid">
                </label>
                <input type="radio" class="custom-control-input" id="check2" name="gender" value="woman" disabled>
                <label class="custom-control-label" for="check2">
                    <img src="/assets/images/woman.png" width="75px" height="75px" alt="#" class="img-fluid">
                </label>
            </div>
        </div>


    </div>
    <hr style="height:2px;border-width:0;color:black;background-color:black">


    <div id="cpass" class="ocultar">
        <div class="form-group row">
            <label for="apassword" class="col-sm-3 col-form-label">Contraseña Actual</label>
            <div class="col-sm-9">
                <input type="password" autocomplete="off" id="apassword" name="apassword" class="form-control register"
                    placeholder="Contraseña actual" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                <small class="form-text text-muted text-left"><span id="actual"></span></small>
            </div>
        </div>
        <div class="form-group row">
            <label for="npassword" class="col-sm-3 col-form-label">Contraseña</label>
            <div class="col-sm-9">
                <input type="password" autocomplete="off" name="npassword" id="inputPassword" class="form-control "
                    placeholder="Contraseña" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                <small class="form-text text-muted text-left register">Debe contener <span id="letter">una
                        minúscula</span>,
                    <span id="capital">una mayúscula</span>, <span id="number">un número</span> y <span id="lenght">al
                        menos
                        8
                        caracteres.
                    </span></small>
            </div>
        </div>



        <div class="form-group row">
            <label for="cnpassword" class="col-sm-3 col-form-label">Confirmar Contraseña</label>
            <div class="col-sm-9">
                <input type="password" autocomplete="off" id="inputCPassword" class="form-control register"
                    placeholder="Confirmar Contraseña" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    onkeyup="ConfirmPassword()">
                <small class="form-text text-muted text-left"><span id="confmsg"></span></small>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button class="btn btn-success" id="" onclick="changepass()">Cambiar Contraseña</button>
        </div>

    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-success" id="bpass" onclick="dpass()">Cambiar Contraseña</button>
    </div>
</div>
<div style="display: none;"> <input id="uid" type="hidden" value="{{usuario._id}}"> </div>

<script src="/assets/js/signup-helpers.js"></script>

{{> packages}}
<script src="/javascripts/updateprofile.js"></script>
{{> footer}}